.h1 {
    text-align: center;
}

.btn {
    background-color: blueviolet;
    border: 6px;
    border-radius: 10px;
    height: 40px;
    width: 70px;
    text-align: center;
    text-decoration: none;
}
.bg{
    background-image: linear-gradient(lavender, pink);
}
.div{
    position:relative ;
    border: 2px solid black;
    height: 200px;
    width: 200px;
    overflow:scroll;
}
